.menu {
    display: flex;
    align-items: center;
    color: $text-secondary;
    gap: 20px;
}

.iconWrap {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  @media (max-width: 580px) {
    display: none;
  }
}

.profilePictureWrap {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    img {
        border-radius: 50%;
    }
}

.buttons {
    display: flex;
    gap: 4px;
    align-items: center;
}

.info {
    display: flex;
    gap: 8px;
    align-items: center;
}